# Dependencies
node_modules/

# Build output
dist/
tmp/
out-tsc/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Angular cache
.angular/

# Backup migration
_backup/

# Misc
*.log
npm-debug.log*
