.baniere {
  background-image: url(images/infirmiere-1.jpg);
  background-position: center;
  background-size: cover;
}
.fa-instagram:hover {
  background: linear-gradient(to left, #59366a, #b27c92, #c97a58, #7c747c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.fa-facebook-f:hover {
  background: #3b5998;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
